body {
  font-family: verdana;
  margin: 0;

  background-image: url('./background.png');
  background-size: 100vh auto;
  background-attachment: fixed;
}

main {
  display: flex;
}

main > * {
  flex: 1;
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid white;
  background-color: rgb(38, 41, 38);
  align-items: center;
}

#nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Alef';
  z-index: 2;
}

#view {
  margin-top: 100px;
  font-family: 'Alef';
}

hr {
  margin: 0;
  width: 100%;
}
.navbar {
  padding: 0;
  padding: 8px;
  width: 100%;
}

a {
  color: initial;
}

a:hover {
  color: white;
  text-decoration: none;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.link {
  margin: 0;
}

button {
  color: rgb(0, 200, 0);
  border: none;
  height: 2rem;
  font-size: 1.5rem;
  background-color: rgb(38, 41, 38);
  padding: 0 16px;
}

.searchButton {
  border-radius: 15px;
}

h2 {
  text-transform: uppercase;
}

li {
  display: flex;
  align-items: center;
}

li > * {
  margin: 1rem;
}

h1 {
  padding: 1rem;

  text-align: center;
}

#navLogo {
  width: 24px;
}

#loginLogo {
  width: 150px;
  height: 150px;
}

#loginButton {
  border-radius: 15px;
  margin: 8px;
}

#loginPage {
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  padding: 16px;
  margin: 16px;
}

#chatPage {
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  padding: 16px;
  margin: 32px;
}

#userFriendsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

#userGamesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

#searchGames {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#findPlayersPage {
  margin: 64px 32px;
  width: 100%;
}

#findPlayersForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgba(239, 239, 239, 0.715);
  margin: 64px 32px;
  padding: 16px;
  border: 1px solid grey;
  border-radius: 15px;
}

#searchGames {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchGamesForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  background-color: rgba(239, 239, 239, 0.715);
  padding: 16px;
  border: 1px solid grey;
  border-radius: 15px;
}

input[type='text'] {
  border-radius: 15px;
  border: 1px solid grey;
  margin: 4px;
  padding-left: 16px;
}

#imageToUpload {
  border-radius: 15px;
  border: 1px solid grey;
  background-color: white;
}

input[type='password'] {
  border-radius: 15px;
  border: 1px solid grey;
  margin: 4px;
  padding-left: 16px;
}

#logButton {
  border-radius: 15px;
  padding: 0 8px 0 8px;
  border: 1px solid rgba(255, 255, 255, 0.482);
}

#logButton h6 {
  margin: 0;

  font-size: 12px;
}

button > h5 {
  font-weight: 700;
  margin: 0;
}

#bioInput {
  height: 100px;
  border-radius: 15px;
  padding: 8px;
  margin: 8px;
  border: none;
  resize: none;
}

#submitImageButton {
  font-weight: 700;

  color: rgb(0, 200, 0);
  font-size: 20px;
  border: none;
  border-radius: 15px;
  width: fit-content;
  align-self: center;
  padding: 0 16px;

  background-color: rgb(38, 41, 38);
}

ul {
  padding: 0;
}

h3 {
  font-weight: 700;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

select {
  border-radius: 15px;
  background-color: white;

  border: 1px solid grey;
  outline: 0px;
  padding: 1px 0px 1px 16px;
}

.select {
  margin: 8px;
}

#aboutPage {
  margin: 64px 32px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.715);
  padding: 16px;
  border: 1px solid grey;
  border-radius: 15px;
}

#userProfile {
  margin: 64px 32px;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.715);
  padding: 16px;
  border: 1px solid grey;
  border-radius: 15px;
}

#playersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#gamesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 64px 32px 16px 32px;
}

#gamesList {
  padding: 16px;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  margin: 8px 0 16px 0;
  max-height: 85vh;
  overflow: scroll;
}

#imageUploadForm {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  text-align: center;
}

.gamesListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.gamesListItem hr {
  margin: 16px 0;
}

.gamesListItem a {
  margin: 0;
}

.gameListItemImage {
  width: 50vw;
  margin: 8px;
  border: 1px solid grey;
}

.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.userProfileImage {
  border: 1px solid grey;
  height: 150px;
  width: 150px;
}

#userSettingsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 32px;
  padding: 16px;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
}

#changePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

#createUserForm {
  margin: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(239, 239, 239, 0.715);
  border: 1px solid grey;
  border-radius: 15px;
  padding: 16px;
}

#createUserForm > h5 {
  margin: 16px 0;
}

.checkBoxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#img {
  width: 100px;
  border-radius: 15px;
  border: none;
}

#imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 64px 32px;
}
.gameImage {
  width: 200px;
  border: 1px solid grey;
}

#chatButton {
  opacity: 0.5;
}
